* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    text-align: center;
    max-width: 1100px;
    height: 570px;
    margin: 100px auto;
    background-color: #062d58;
    border-radius: 15px;
    border: 2px solid #062d58;
}

.header-div {
    background-color: #c7172c;
    height: 100px;
    max-width: 1100px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-top: 30px;
}

#fence-selection {
    font-size: 1.8rem;
    color: white;
}

h1 {
    font-size: 2.5rem;
    color: white
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-size {
    border-radius: 1px;
    height: 170px;
    width: 170px;
    border: 1px solid white;
}

.button-size {
    width: 170px;
    height: 50px;
    background-color: white;
    color: #062d58;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px grey inset;
    font-size: 16px;
}

.button-size:hover {
    cursor: pointer;
    opacity: 0.95;
}

.button-size:active {
    
}

/*Second Screen*/

#second-screen {
    display: none;
}

.inner-fence-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fence-img {
    height: 400px;
    margin: 0px 15px 10px 0px;
    border-radius: 15px;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 62%;
}

#fence-length {
    font-size: 22px;
    color: white;
    padding-bottom: 50px;
}

.img-class {
    flex-basis: 38%;
    padding-top: 20px;
}

#meters {
    padding: 0px 2px;
}

#feet {
    padding: 0px 2px;
}

.input-sort {
    display: flex;
    padding: 30px 0px 30px 50px;
}


.color-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-right: 10px;
}

.input-pad {
    margin-right: 50px;
}

.box-sort {
    width: 130px;
    height: 20px;
}

#height {
    width: 85px;
}

.select-sort {
    height: 30px;
}

.btn-div {
    display: flex;
    padding-left: 15px;
    padding-top: 20px;
}

.calculate-btn {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #062d58;
    font-weight: 700;
    margin: 40px 20px 0px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px grey inset;
    font-size: 16px;
}

/*Third page*/

#third-screen {
    display: none;
}

.outer-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
}

.inner-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: -7px 0px;
    padding: 20px 0px;
}

#output-heading {
    color: white;
    font-size: 1.6rem;
    padding: 20px 0px;
    padding-right: 80px;
}

.p-output {
    color: white;
    font-size: 1.2rem;
}

.span-output {
    background-color: white;
    height: 25px;
    width: 60px;
    padding-top: 2px;
    border-radius: 5px;
}

.third-screen-button {
    margin-bottom: 30px;
}